
<footer class="page-footer font-small bg-dark text-white pt-4 mt-4 bottom">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">O aplikaciji</h5>
                <p>
                    Aplikacija je bila zgrajena v namen lažji organizaciji tekem za nogometne navdušence. Ustvari tekme, poišči igralce in igraj.
                </p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Zemljevid</h5>
                <p>
                    Zemljevid je pridobljen iz <a href="openstreetmap.org">OpenStreetMap</a> | <a href="leafletjs.com">Leaflet</a>.
                </p>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Vreme</h5>
                <p>
                    Vreme - Widget pridobljeno iz <a href="https://vreme.arso.gov.si/napoved">ARSO vreme</a>.
                    Vreme - Api powered by MarelaWeather.
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">Kontakt:
        <a href="mailto:info@tap&play.com"> info@tap&play.com</a>
    </div>
</footer>

