/* veleikost logo slike v header-ju in margin desno */
#headerLogo {
    width:30px;
    margin-right: 5px;
}

/* padding gor-dol u header-ju */
.navbar {
    padding-top: 0;
    padding-bottom: 4px;
}

/* nardi da dropdown meni ne raztegne header-ja */
#dropdownMeni {
    position: absolute;
}

/* naredi da ni vec dropdown ko je toggler aktiven */
@media only screen and (max-width: 575px) {

    #testMenuRazlika1 {
        display: none;
    }
    #testMenuRazlika2{
        display:block;
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;

    }

    /* tle se lahko da id-je namesto class da spremeni samo te in ne useh dropdown itemov,
    ceprov je itak navbar spredej in bi moglo spreminjat samo te znotrej navbara
    problem je samo ce je se kdo pisu drugacn header z navbar-om da bo tudi njemu spremenilo ce ima dropdown*/
    .navbar-nav .dropdown-menu .dropdown-item {
        color: white;
    }

    .navbar-nav .dropdown-menu .dropdown-item:hover,
    .navbar-nav .dropdown-menu .dropdown-item:focus {
        text-decoration: none;
        color: black;
        background-color: gray;
    }

}

.content {
    position: relative;
}




