

<form class="" method="post" action="/db">
    <input type="submit" class="btn btn-success col-md-2 md-4" value="Vnesi">
</form>
<br>
<br>
<br>
<form class="" method="post" action="/db_izbrisi">
    <input type="submit" class="btn btn-warning col-md-2 md-4" value="Izbrisi">
</form>









